<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Catherine Orfanos">
    <meta name="description" content="FONTS Style Page?">
    <title>FONTS Page</title>
  </head>
  <body>
    <!-- Page Content -->
  </body>
</html>

<style>
@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Barlow|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">

</style>

@font-face {
  font-family: 'Annie Use Your Telescope', cursive;
    src:
        url('../fonts/AnnieUseYourTelescope.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

    @font-face {
      font-family: 'Shadows Into Light', cursive;
        src:
            url('../fonts/ShadowsIntoLight.ttf') format('opentype');
        font-weight: normal;
        font-style: normal;
      }

      @font-face {
        font-family: 'Barlow', sans-serif;
          src:
              url('../fonts/Barlow-Black.ttf') format('opentype');
          font-weight: normal;
          font-style: normal;
        }

        @font-face {
          font-family: 'Open Sans Condensed', sans-serif;
            src:
                url('../fonts/OpenSansCondensed-Light.ttf') format('opentype');
            font-weight: normal;
            font-style: normal;
          }

          @font-face {
            font-family: 'Gloria_Hallelujah', cursive;
              src:
                  url('../fonts/GloriaHallelujah.ttf') format('opentype');
              font-weight: normal;
              font-style: normal;
          }
