<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Catherine Orfanos">
    <meta name="description" content="CSS Style Page?">
    <title>CSS Page</title>
  </head>
  <body>
    <!-- Page Content -->
  </body>

  .parent-1 {
     background-color: #95212c;
     padding: 1em;
     margin: 1em;
  }

  .parent-2 {
    text-indent: 1.5em;
    background-color: #95212c;
    color: white;
    padding: 1em;



</html>
