
/*My CSS*/

body {
  background-color: #FFF7DA;
}

header {
  background-color: #006598;
  background-blend-mode: lighten;
  padding: 40px;
}

nav {
  width: 100%;
  min-height: 50px;
  background-color: #82b440;
  font-family: 'Barlow', sans-serif;
  font-style: none;
  line-height: 80px;
}

nav ul {
  margin-left: 30px;
  font-size: 24px;
  text-align: center;
  padding-right: 20px;
  text-align: center;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav a:hover {
  background-color: #fbcf61;
  min-height: 50px;
}


nav a:active {
  color: #95212c;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 30px;
  text-transform: uppercase;
  text-shadow: 0px 0px #000000;
}

main {
  background-color: #FFF7DA;
  padding: 50px;
  position: absolute;
}

.content {
  /*width: 100%;*/
  background-color: #FFF7DA;
  width: 100%;
  max-width: 800px;
}

aside {
  background-color: #FFF7DA;
  padding: 50px;
  text-align: center;
  justify-content: center;
  border-radius: 0px;
  border-style: solid;
  border-color: #FFF7DA;
  border-width: 50px;
  min-width: 300px;
  float: right;
}

footer{
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  border-style: solid;
  border-color: #fbcf61;
  border-width: 2.5px;
}

h1 {
  font-family: 'Barlow', sans-serif;
  color: #FFFFFF ;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5em;
  font-size: 50px;
}

h2 {
  font-family: 'Barlow', sans-serif;
  color: #000000;
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 0em;
  font-size: 20px;
  text-indent: 0em;
}

h3 {
  font-family: 'Barlow', sans-serif;
  color: #000000;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: .5em;
  font-size: 30px;
  text-indent: 0em;
}



.paragraph1, .paragraph2, .paragraph3{
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000000;
  text-indent: 1.5em;
  font-size: 20px;
}

.paragraph1, .paragraph2, .paragraph3::first-letter {
  font-size: 1em;
}


/*p {
  display: block;
    -webkit-margin-before: .5em;
    -webkit-margin-after: .5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}*/

.review {
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: none;
}

.content{
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: none;
}

.endnote{
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: italic;
}


/*div {
  display: block;
}*/

.button {
  font-size: 3em;
  color: white;
  background-color: #95212c;
  border-color: #95212c;
  border-style: none;
  position: relative;
  width: 3em;
  height: 2em;
  text-align: center;
}

.button p {
  margin: 2em auto;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: none;/
}

.button:hover {
  background-color: #fbcf61;
  font-style: normal;
}

.parentelement {
  position: absolute;
  color: #95212c;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: none;
}


.site-logo {
    font-size: 4em;
    float: center;
    padding: 0px 0px;
}

.site-logo img {
    height: 40px;
    width: 40px
}


.parentcontainer {
   width: 500px;
   height: 500px;
   background-color: #1CCDCA;
}
.parentcontainer h2 {
   font-size: x-large;
   font-weight: bolder;
   font-style: italic;
}
.innerbox {
   width: 300px;
   height: 300px;
   background-color: rgba(255,255,255,.5)
}
